* {
    box-sizing: border-box;
}

:root {
    --background: #fff;
    --text: #231f20;
    --text-active: #8b8d90;
    --text-alt: #8b8d90;
    --border: #d1d3d4;
    --left-column: 0rem;
    --edge: 2rem;
}

.noir {
    --background: #231f20;
    --text: #fff;
    --text-active: #e3e4e5;
    --text-alt: #535456;
    --border: #323031;
}

body {
    padding: 2rem var(--edge) 2rem calc(var(--edge) + var(--left-column));
    background: var(--background);
    color: var(--text);
    font-family: 'Roboto Condensed', Bahnschrift, system-ui, 'Source Han Sans TC', 'Microsoft JhengHei', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    transition: background .15s ease-out, color .15s ease-out;
}

a {
    color: var(--text);
    transition: color .15s ease;
}

a:hover, a:active {
    color: var(--text-active);
}

a.note {
    padding: 0 .05em;
    text-decoration: none;
}

p {
    line-height: 1.5;
    margin: .75em 0;
}

#map {
    background: var(--border);
    margin: 0;
    padding: .5rem;
    line-height: 1;
    user-select: none;
    transition: transform .15s ease;
}

#map:hover { transform: scale(1.05);  }

#map img {
    width: 100%;
    min-height: 100%;
}

#map .noir { display: none;  }
.noir #map .blanc { display: none;  }
.noir #map .noir { display: initial;  }

.icon:before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: .4em;
    border-radius: 50%;
    vertical-align: text-top;
}

.red.icon:before { background: #ee202d; }
.blue.icon:before { background: #006fba; }
.green.icon:before { background: #008841; }
.orange.icon:before { background: #b29105; }

label {
    display: block;
    padding: .5em 0;
    color:  var(--text-alt);
}

input[type="checkbox"] {
    min-width: 1em;
    min-height: 1em;
}

footer {
    font-size: .875rem;
}

footer, footer a {
    color: var(--text-alt);
}

@media screen and (max-width: 40em) {
    i.wbr { display: block; }
}

@media screen and (min-width: 40em) {
    body {
        --edge: calc((100vw - 36rem) / 2);
    }
}

@media screen and (min-width: 60em) {
    body {
        --edge: 3rem;
        --left-column: calc(100vw - 42rem);
    }

    #map {
        position: fixed;
        top: 3rem;
        left: var(--edge);
        width: calc(var(--left-column) - var(--edge));
    }
}

@media screen and (min-width: 78em) {
    body {
        --edge: calc((100vw - 72rem) / 3);
        --left-column: calc(var(--edge) + 36rem);
    }

    #map {
        top: calc(max((100vh - 50rem) / 2, -2.5rem));
        width: 36rem;
    }
}

@media screen and (min-width: 108em)  {
    #map {
        top: calc(max((100vh - 64rem) / 2, -3.125rem));
        left: calc(var(--edge) - 4.5rem);
        width: 45rem;
    }
}
